{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}

    <div class="mb-3">
        The page you are looking for does not exist, <a href="{{ path('app_login') }}">return to home page</a>
    </div>
{% endblock %}
